<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定一个对应的Mapper/Dao接口-->
<mapper namespace="com.group11.dao.BillMapper">
    <select id="getBill" resultType="Bill">
        select * from bill
    </select>

    <select id="getBillById" resultType="Bill">
        select * from bill where id = #{id}
    </select>

    <insert id="addBill" parameterType="Bill">
        insert into bill(id, billDate, startTime, filmName, screenType, filmDuration, screenId, customerId, seatRow, seatColumn)
        values (#{id}, #{billDate}, #{startTime}, #{filmName}, #{screenType}, #{filmDuration}, #{screenId}, #{customerId}, #{seatRow}, #{seatColumn})
    </insert>

    <delete id="deleteBill" parameterType="String">
        delete from bill where id = #{id}
    </delete>


</mapper>